<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Webservver for Cancer Gene Detection</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <style>
  	body {background-image: url('../static/img/dna.jpg');    background-repeat: no-repeat; background-attachment: fixed; background-size:cover;}
  </style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body text="black" style="background-color:LightBlue;">

	<div class="login">
		<!--Get input for predict the cancer-->
		<center>
			<form action="{{ url_for('predict')}}"method="post">
				<h1 style="background-color:DodgerBlue;">WebServer For Cancer Gene Detection </h1><h2 style="color:#CC9933">Analyze DNA</h2><h2 style="color:#CC9900">  Enter Dna Report Values</h2>
				<input type="text" name="mean_radius" placeholder="radius" required="required" />
				<input type="text" name="mean_texture" placeholder="texture" required="required" />
				<input type="text" name="mean_perimeter" placeholder="perimeter" required="required" />
				<input type="text" name="mean_area" placeholder="area" required="required" />
				<input type="text" name="mean_smoothness" placeholder="smoothness" required="required" />
				<input type="text" name="mean_compactness" placeholder="compactness" required="required" />
				<br>
				<input type="text" name="mean_concavity" placeholder="concavity" required="required" />
				<input type="text" name="mean_concave_points" placeholder="concave points" required="required" />
				<input type="text" name="mean_symmetry" placeholder="symmetry" required="required" />
				<input type="text" name="mean_fractal_dimension" placeholder="fractal dimension" required="required" />
				<input type="text" name="radius_error" placeholder="mean radius" required="required" />
				<input type="text" name="texture_error" placeholder="mean texture" required="required" />
				<br>
				<input type="text" name="perimeter_error" placeholder="mean perimeter" required="required" />
				<input type="text" name="area_error" placeholder="mean area" required="required" />
				<input type="text" name="smoothness_error" placeholder="mean smoothness" required="required" />
				<input type="text" name="compactness_error" placeholder="mean compactness" required="required" />
				<input type="text" name="concavity_error" placeholder="mean concavity" required="required" />
				<input type="text" name="concave_points_error" placeholder="mean concave points" required="required" />
				<br>
				<input type="text" name="symmetry_error" placeholder=" mean symmetry" required="required" />
				<input type="text" name="fractal_dimension_error" placeholder="mean fractal dimension " required="required" />
				<input type="text" name="worst_radius" placeholder="radius error" required="required" />
				<input type="text" name="worst_texture" placeholder="texture error" required="required" />
				<input type="text" name="worst_perimeter" placeholder="perimeter error" required="required" />
				<input type="text" name="worst_area" placeholder="area error" required="required" />
				<br>

				<input type="text" name="worst_smoothness" placeholder="smoothness error" required="required" />
				<input type="text" name="worst_compactness" placeholder="compactness error" required="required" />
				<input type="text" name="worst_concavity" placeholder="concavity error" required="required" />
				<input type="text" name="worst_concave_points" placeholder="oncave points error" required="required" />
				<input type="text" name="worst_symmetry" placeholder="symmetry error" required="required" />
				<input type="text" name="worst_fractal_dimension" placeholder="fractal dimension error" required="required" />
				<br>

				<!-- show button-->
				<div class="button_cont" align="center"><a class="button_css">
					<button text="blue" style="color:#800080" type="submit" class="btn btn-primary btn-block btn-large"><strong><h4>CLICK TO PREDICT </h4></strong>
<!--						<h4 style="color:Tomato;">Cancer if (1)</h4>
						<h4 style="color:MediumSeaGreen;">No Cancer if (0)</h4>
						-->
					</button></a>
				</div>
			</form>


		</center> <!--Show predicted output using ML model-->
		<div>
			<center>
				<h1 style="color:Red; border:2px solid Tomato">{{ prediction_text}}</h1>
				<h2>
					<p style="color:#339900; font-size:30px" >Dataset used: <a href="https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)" style="color: orange;"> UCI Machine Learning Repository</a></p>
				</h2>

		</ul>
				</center>
		</div >


	<center>


			<form action="{{ url_for('home')}}"method="POST">

				<h3 style="background-color:DodgerBlue;">Predict From Auto Loaded test file </h3><h4 style="color:#CC9900"> View Prediction using data file</h4>

				<!-- show button-->
				<div class="button_cont" align="center"><a class="button_css2">
					<button text="blue" style="color:#800080" type="submit" class="btn btn-primary btn-block btn-large2"><strong><h4>CLICK TO PREDICT </h4></strong>
					</button></a>
				</div>
			</form>


	</center> <!--Show predicted output using ML model-->
	<div>
		<center>

			<p>
				<h1 style="color:green; border:2px solid green">{{ name}}</h1>



			</p>

		</center>
	</div >
	</div>

	</body>
	</html>
